/*
!.p10k*
!.zshrc
!.gitlab-ci.yml
!/archie
!/ci
!/cronjobs
!/docs
!/dunst
!/hypr
!/k9s
!/kitty
!/lvim
!/nvim
nvim/lazy-lock.json
!/onedrive/config
!/onedrive/sync_list
!/rofi
!/waybar
!/xkb-customizations
