/*
nvim/lazy-lock.json
!.p10k*
!.zshrc
!BACKUP_AND_RESTORE.md
!DEVELOPMENT.md
!GUIDE.md
!KEYBOARD_CUSTOMIZATIONS.md
!KEYBOARD_SHORTCUTS.md
!README.md
!CLAUDE.md
!/dunst
!/hypr
!/lvim
!/nvim
!/waybar
!/cronjobs
!/docs
!/kitty
!/onedrive/config
!/onedrive/sync_list
!/rofi
!/xkb-customizations
