/*
!/hypr
!/dunst
!/waybar
!/lvim
!/nvim
nvim/lazy-lock.json
!onedrive/config
!onedrive/sync_list
!kitty/current-theme.conf
!kitty/kitty.conf
!rofi/
!cronjobs/
!.zshrc
!docs/
!.p10k*
!README.md
!BACKUP_AND_RESTORE.md
!CONTAINERS.md
